@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DocIntel.Core.Utils
@using DocIntel.Core.Importers
@using DocIntel.Core.Modules
@model TagFacet

@if (ViewBag.ModuleMetadata != null) {
    var moduleModelMetadatas = (IEnumerable<ModuleModelMetadata>) ViewBag.ModuleMetadata;
    foreach (var metadata in moduleModelMetadatas)
    {
        <h3>@metadata.Title</h3>    
        @(Html.JsonEditor(metadata.Name, Model?.MetaData, metadata.Type))
    }
}