Source: docintel-document-indexer
Maintainer: Antoine Cailliau <antoine.cailliau@mil.be>
Standards-Version: 2.0.0
Section: contrib/admin
Build-Depends: debhelper (>= 12)

Package: docintel-document-indexer
Architecture: amd64
Depends: dotnet-runtime-6.0, elasticsearch, postgresql, erlang-nox, rabbitmq-server, dbconfig-pgsql | dbconfig-no-thanks, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: debconf (>= 0.2.17)
Section: contrib/admin
Priority: optional
Description: Threat Intelligence Platform - Document Indexer
	DocIntel is a threat intelligence platform.

