[Unit]
Description=DocIntel.RabbitMQDocumentIndexer
After=network.target

[Service]
Type=notify
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/document-indexer/
ExecStart=/usr/bin/dotnet DocIntel.Services.DocumentIndexer.dll service
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

