#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS=1

%:
	dh $@  --no-parallel --with systemd
    
override_dh_fixperms:
	dh_fixperms
	find debian -name '*.dll' -exec chmod 0644 {} +
	
override_dh_prep:
	dh_prep
	# Remove all files that are packaged with docintel-core
	find ../DocIntel.Core/bin/Debug/netcoreapp3.1/linux-x64/publish/ -type f -printf "./bin/Debug/netcoreapp3.1/linux-x64/publish/%f\n" | xargs rm -f 

