@model DocIntel.WebApp.ViewModels.ErrorViewModel
@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="hidden-xs-down col"></div>
    <div class="col">
        <div class="card" style="margin: 20px 0;">
            <div class="card-header">
                Ooops 😭, something went really wrong.
            </div>
            <div class="card-body">
                <h5>@Model.ExceptionName</h5>

                <p>
                    Please submit the issue to our <a href="https://github.com/docintelapp/DocIntel">GitHub</a> so that we can fix it!
                </p>

            </div>
        </div>
    </div>
    <div class="hidden-xs-down col"></div>
</div>