@model DocIntel.WebApp.ViewModels.ErrorViewModel
@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Page not found";
}


<div class="row">
    <div class="hidden-xs-down col"></div>
    <div class="col">
        <div class="card" style="margin: 20px 0;">
            <div class="card-header">
                Ooops, the page could not be found.
            </div>
            <div class="card-body">
                <p>Don't 😭, it is just a <mark>404</mark> error page.</p>
                <p>You might not have found the page you were 🔎 for but we are confident you will find the threats you are hunting.</p>
                <p class="mb-0">Or may be 🇷🇺 took the page. Or 🇨🇳. You better ask Intel.</p>
            </div>
        </div>
    </div>
    <div class="hidden-xs-down col"></div>
</div>