html,body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #f8f8f8;
}


body {
    min-height:100vh;
 }

.btn-primary {
    color: white;
}

a {
    color: $body-color;
}

.card-header {
    font-weight: 600;
}

@mixin badge-outline-variant($bg) {
    border-color: $bg;
    background-color: color-yiq($bg);
  
    &[href] {
      @include hover-focus {
        color: color-yiq($bg);
        text-decoration: none;
        background-color: $bg;
      }
    }
}
  

@each $color, $value in $theme-colors {
    .badge-outline-#{$color} {
        border: 1px solid;
      @include badge-outline-variant($value);
    }
}

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
}

.mb-gutter {
    margin-bottom: $grid-gutter-width;
}

.text-big {
    font-size: 112% !important;
}
 
.modal-top {
    margin-top: 0;
    .modal-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    }
  }

 .flex-fill {
    flex:1 1 auto;
 }

 .flex-icon {
     padding-right: $grid-gutter-width;
 }

.control-label, .col-control-label, .col-control-legend {
    margin-bottom: calc(.438rem - 2px);
    font-weight: 500;
    font-size: .83125rem;
}

.bg-overlay {
    background: url("~/images/background.jpg") no-repeat center center;
    background-size: cover;
}

.bg-overlay-dark {
    background: rgba(24,28,33,0.9) !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.opacity-25 {
    opacity: .25;
}
.opacity-50 {
    opacity: .5;
}
.opacity-75 {
    opacity: .75;
}

.authentication {
    max-width: 380px;

    .card {
        -webkit-box-shadow:0 1px 4px rgba(24, 28, 33, 0.24);
    }
}

.card{
    background-clip:padding-box;
    -webkit-box-shadow:0 1px 4px rgba(24,28,33,0.009);
    box-shadow:0 1px 4px rgba(24,28,33,0.009)
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom
}

a.badge {
    color: white;
    text-decoration: none;
}
.dropdown-toggle {
    padding-right: 1.75rem !important;
}
.dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: .5rem;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    width: .42em;
    height: .42em;
    border: 1px solid $white;
    border-top: 0;
    border-right: 0;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

/*
 * Sidebar
 */

.sidebar {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: $dark;
    color: #838790;
}

.sidebar-header {
    padding: 0 1.75rem;
    height: 60px;
    margin: 0 0 .5rem 0;
    font-size: 1.1rem;
    a {
        color: white;
    }
    border-bottom: 1px solid $gray-700;
}

.sidebar .nav-link {
    padding: .75rem 1.75rem;
    color: $gray-600;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: $gray-600;
}

.sidebar .nav-link.active {
    color: $blue
}

.sidebar .nav-link:hover {
    color: white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit
}

.sidebar .nav-link {
    position: relative;
}

.sidebar .sidebar-icon {
    width: 1.75rem;
    display: inline-block;
}

.sidenav-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.75rem;
    display: block;
    width: .42em;
    height: .42em;
    border: 1px solid $gray-600;
    border-top: 0;
    border-right: 0;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.sidenav-toggle.collapsed::after {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase
}

.sidebar .nav-item .nav,
.sidebar .nav-item .nav-item {
    width: 100%;
  
}
.sidebar .nav .nav .nav-link {
    padding: .625rem 1.75rem .625rem 3.5rem ;
}

/*
 * Navbar
 */
.bg-blue {
    background: $blue;
}
.bg-progress-bar {
    background: #e9ecef;
}

.navbar-search {
    height: 60px;
    padding: 0;
    margin: 0;
}
.navbar-search .navbar-icon {
    display: inline-block;
    color: white;
    width: 1rem;
    margin-left: 1.25rem;
}
.navbar-search .form-control {
    color: white;
    background: transparent;
}
.navbar-search .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .5;
}

.navbar-search .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0
}

.navbar .nav-link,
.navbar .nav-link a {
    color: white;
    padding: 0;
}
.navbar .border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.25) !important;
}

/*
 * Footer
 */
footer {
    background: white;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    border-top: 1px solid #e5e5e5;
}

/*
* Search result
*/

.search-result {
    margin-bottom: $grid-gutter-width;
}

.search-result-image {
    margin-right: $grid-gutter-width; 
    flex-shrink: 0; 
    width: 140px
}

/*
 * Dashboard
 */

.dashboard-card-title {
    width: 100%;
    text-align: center;
    background: #dee2e6;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    
    a {
        color: black;
    }
}

/*
*/

.bg-star {
    background: #FFFFE0;
}

.card .table .thead-light th {
    border: 0 !important;
}

.dashboard-4 {
    background: #f8f8f8;
}

.dashboard-4 .header-title {
    background: white;
    border-bottom: 1px solid #e5e5e5;
    padding: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}

.custom-container {
    margin-left: $grid-gutter-width; 
    margin-right: $grid-gutter-width;
}

.layout-3  .main-body {
    padding: $grid-gutter-width;
}

a.active {
    font-weight: bold;
}

/*
 * Textcomplete 
 */
 .dropdown-menu .textcomplete-item a,
 .dropdown-menu .textcomplete-item a:hover {
   font-size: .9rem;
   cursor: pointer;
   font-weight: normal;
   color: #000;
   position: relative;
   padding: 3px 10px;
 }
 .dropdown-menu .textcomplete-item.active {
   background: #F0F0F0;
 }
 .dropdown-menu .textcomplete-item a em {
   font-style: normal;
   font-weight: bold;
 }

  /*
  */
.dropdown-menu {
    font-size: .8rem;
}

.dropdown-item {
    white-space: normal;
}

.dropdown-notification-item {
    width: 350px;
    padding: 0.5rem 1rem;
    
    a:hover {
        text-decoration: none;
    }
}

/* Cards in an accordion */
.accordion .card {
    margin-bottom: 5px;
    
    .card-header {
        padding: 0;

        .badge-light {
            color: #212529;
            background-color: #fff;        
        }
    }
}

.dropdown-notification-footer {
    padding: .25rem 1rem;
}

.dropdown-icon {
    display: inline-block;
    width: 1.75rem;
    color: $gray-500;
}