@import '~highlight.js/styles/default.css';

#search-field {
  max-width: none !important;
}

.short-summary p:last-child {
  margin: 0;
}

.page-content {
  padding: 2rem !important;
}

.thumbnail img {
  transition: filter .25s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  &:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
}

.btn-iconified {
  i {
    margin-right: .5rem;
  }
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
  border: 1px solid black;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:cover;
  background-repeat:no-repeat;
  display:inline-block;
  width:146px;height:106px;
  border: 1px solid #dee2e6;
  padding: 3px;
}

.drinkcard-cc:hover {
  border: 1px solid black;
}

.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }

.panel-tag {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  border-left: 3px solid #1dc9b7;
  background: #eef7fd;
  opacity: .8;
  font-weight: 400;
  font-size: .875rem;
  border-radius: 0 8px 8px 0;
}