# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

.vscode
uncrustify.cfg

MvcSRS.db
MvcSRS.db-journal
docs/
temp/
node_modules
*/wwwroot/dist/
yarn.lock
yarn-error.log
lucene_index
lucene_taxonomy
lucene

Library/*.deps.json
NuGet.Config
appsettings.json
update_remote.sh
nlog.config

*/debian/docintel-webapp
*/debian/docintel-core
*/debian/docintel-cli
*/debian/docintel-document-analyzer
*/debian/docintel-document-indexer
*/debian/docintel-tag-indexer
*/debian/docintel-source-indexer
*/debian/docintel-thumbnailer
*/debian/*.debhelper
*/debian/*.substvars
*/debian/debhelper-build-stamp
*/debian/*.log

**/.idea
.editorconfig
**/.local-chromium/

scripts/
*/debian/changelog
*/debian/files

DocIntel.Client.ThreatMatch/profiles/
DocIntel.Client.ThreatMatch/reports/

DocIntel.Importer/debian/docintel-importer/
DocIntel.EmailNotifications/debian/docintel-email-notifier/
DocIntel.Scraper/debian/docintel-scraper/
DocIntel.Services.ContinuousIndexing/debian/docintel-continuous-indexing/
DocIntel.Services.Importer/debian/docintel-importer/
DocIntel.Services.Newsletters/debian/docintel-email-notifier/
DocIntel.Services.Scraper/debian/docintel-scraper/

*.tar.xz
*.deb
*.ddeb

DocIntel.sln.DotSettings
latest.sql

**/package-lock.json
