@using DocIntel.Core.Settings
@inject ApplicationSettings _settings

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-6">
            <div style="margin: 60px 0 60px 0">
                <h1 class="font-weight-bold mb-4 text-center text-white">Email sent</h1>
            </div>
            <div class="card p-4 rounded-plus bg-faded mt-4">
                <p>
                    Check your email and open the link we sent to continue.
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}