@using DocIntel.Core.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DocIntel.WebApp.ViewModels.Account.ForgotPasswordViewModel
@inject ApplicationSettings _settings

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-6">
            <div style="margin: 60px 0 60px 0">
                <h1 class="font-weight-bold mb-4 text-center text-white">Forgot Password</h1>
            </div>
            <div class="card p-4 rounded-plus bg-faded mt-4">
                <p>
                    Enter your username and we will send you a link to reset your password.
                </p>
                <form  method="post">
                        @if (TempData.ContainsKey("ErrorMessage"))
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="form-label" asp-for="UserName">Username</label>
                            <input asp-for="UserName" class="form-control form-control-lg" placeholder="mandy.ellis" required="required"/>
                            <span class="invalid-feedback" asp-validation-for="UserName">Sorry, you missed this one.</span>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-12">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div>
                                            <button id="js-login-btn" type="submit" class= "btn btn-pills btn-danger waves-effect waves-themed btn-iconified">
                                                Send link to email
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}