@using DocIntel.Core.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ApplicationSettings _settings

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mt-0 mb-2 pt-0 text-center">
                <img src="~/images/logo-login.png" style="width: 50%" />
            </div>
            <div class="card p-4 rounded-plus bg-faded mt-4">
                <p>
                    Thank you for submitting your request! An email has been sent to the email address associated with 
                    your account. Please follow the instructions in the email to reset your password.
                </p>
                <p>
                    If you do not receive an email within a few minutes, please check your spam folder or contact your 
                    administrator for assistance.
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}