/* Theme IMPORTS
========================================================================== */
@import './src/scss/_imports/_global-import';

/* Page Layout Starts below...
========================================================================== */

html,
body {
	height: 100%;
	width: 100%;
	overflow:hidden;
}

html {
	body {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		background: url('../img/clouds.png') no-repeat;

		.blankpage-logo {
			padding: 20px 0 30px;
		}

		.blankpage-form-field {
			
			width:320px;
			

			.card {
				margin:0;
				padding: 13.5px 20px 15.5px;
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
			}

			.blankpage-btn {
				font-size: rem($fs-xl);
				font-weight: 400;
				padding:10px 15px;
				margin:10px 0 5px;
			}
		}

		.blankpage-footer {
			padding: 10px 0;
			font-size: rem($fs-xs);
			color: darken($page-bg, 50%);
		}

		.login-footer {
			position: absolute;
			top:0;
			left:0;
			right:0;
			color: rgba(255,255,255,0.9);
			font-size: rem($fs-nano);
			text-align:center;

		}


		/* NEW*/
		video { 
			position: fixed;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: -100;
			transform: translateX(-50%) translateY(-50%);
			background: url('../img/clouds.png') no-repeat;
			background-size: cover;
			transition: 1s opacity;
		}

		@media screen and (max-device-width: 800px) {
			html { background: url("../img/clouds.png") #FFF no-repeat center center fixed; }
			#bgvid { display: none; }
		}

	}
}
