@using DocIntel.Core.Authorization.Operations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DocumentFile

@{
    var canViewDoc = (await AuthorizationService.AuthorizeAsync(User, Model, DocumentOperations.Read)).Succeeded;
    if (canViewDoc)
    {
        ViewData["Title"] = $"Add file to '{Model.Title}'";
    }
    else
    {
        ViewData["Title"] = "Add file";
    }
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-cloud-upload subheader-icon"></i> @ViewData["Title"]
    </h1>
</div>


<div class="row">
    <div class="col-9">
        @{
            var errors = ViewData.ModelState.SelectMany(x => x.Value.Errors);
        }
        @if (errors.Any())
        {
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.

                <ul class="mb-0 mt-1">
                    @foreach (var error in errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            @if (canViewDoc)
            {
                <div class="panel">
                    <div class="panel-hdr">
                        <h2>
                            Document
                        </h2>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            @await Html.PartialAsync("../Document/_DocumentSummary", Model.Document, new ViewDataDictionary(ViewData))
                        </div>
                    </div>
                </div>
            }


            @await Html.PartialAsync("_FormFields", Model, new ViewDataDictionary(ViewData))

            <div class="panel">
                <div class="panel-hdr">
                    <h2>
                        File
                        <span class="fw-300">
                            <i>Upload</i>
                        </span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control form-control-file" id="document-upload-input"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="save-btn" class= "btn btn-pills btn-success waves-effect waves-themed btn-iconified">
                        <i class="fal fa-cloud-upload"></i> Upload
                    </button>
                    <a asp-action="Index" asp-controller="File" asp-route-id="@Model.DocumentId" class="ml-3 text-secondary">Cancel</a>
                </div>
            </div>

        </form>


    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}