@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Synsharp.Telepath.Messages.SynapseNode>
@{
    Layout = null;
}

@{
    var uuid = Guid.NewGuid().ToString();
}

<table class="table table-striped table-hover" id="observable-editor-@uuid" style="table-layout: fixed">
    <thead class="thead-light">
    <tr>
        <th scope="col" style="width: 25%">Status</th>
        <th scope="col" style="width: 75%">Observable</th>
    </tr>
    </thead>
    <tbody>
    @{ 
        int i = (int) ViewData["StartIndex"];
    }
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 25%">
                <select style="width: 100%">
                    <option>Add</option>
                    <option>Ignore once</option>
                    <option>Ignore always</option>
                    @if (item.Form == "inet:url" || item.Form == "inet:fqdn")
                    {
                        <option>Ignore domain</option>
                    }
                </select>
            </td>
            <td style="width: 75%">
                <p class="m-0 mb-2" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">@item.Repr</p>
                @if (item.Tags.Any())
                {
                    <p class="m-0">
                    @foreach (var t in item.Tags)
                    {
                        <span class="@(t.Key.StartsWith("_di")?"badge-primary":"badge-secondary") badge">@t.Key</span>
                    }
                    </p>
                }
            </td>
        </tr>
        i++;
    }
    </tbody>

</table>


<div class="row justify-content-end">
    <div class="col-auto">
        <div class="btn-group btn-group-sm mx-3 mb-3">
            <a class= "btn btn-pills btn-outline-secondary waves-effect waves-themed toggleAll" data-table-target="observable-editor-@uuid" href="#">
                Add all
            </a>
            <a class= "btn btn-pills btn-outline-secondary waves-effect waves-themed toggleNone" data-table-target="observable-editor-@uuid" href="#">
                Ignore all
            </a>
        </div>
    </div>
</div>
