{
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Trace"
        }
    },
    
    "ApplicationName" :  "DocIntel",
    "ApplicationBaseURL" :  "http://localhost:5005/",
    
    "OpenRegistration": true,
    
    "DocFolder":  "/files",
    "DocumentPrefix" : "DI",
    "StaticFiles": "./wwwroot/",
    "LockFolder": "/lock",
    "ModulesFolder": "/modules",
    
    "ConnectionStrings": {
        "DefaultConnection": "User ID=_POSTGRES_USER_;Password=_POSTGRES_PW_;Host=_POSTGRES_HOST_;Port=_POSTGRES_PORT_;Database=_POSTGRES_DB_;Pooling=true;"
    },
          
    "Jwt": {    
        "Key": "ThisismySecretKey",    
        "Issuer": "localhost",
        "Audience": "test"
    },
    
    "Email": {
        "EmailEnabled": false
    },
  
    "Synapse": {
      "URL": "_SYNAPSE_URL_",
      "UserName": "_SYNAPSE_USER_",
      "Password": "_SYNAPSE_PW_"
    },
    
    "RabbitMQ": {
      "Host": "_RABBITMQ_HOST_",
      "VirtualHost": "_RABBITMQ_VHOST_",
      "Username": "_RABBITMQ_USER_",
      "Password": "_RABBITMQ_PW_"
    },
    
    "Solr": {
        "Uri": "_SOLR_URL_"
    }
}
