Source: docintel-webapp
Maintainer: Antoine Cailliau <antoine.cailliau@mil.be>
Standards-Version: 2.0.0
Section: contrib/libs
Build-Depends: debhelper (>= 12), dh-systemd (>=1.5)

Package: docintel-webapp
Architecture: amd64
Depends: docintel-core (>= 2.0.0), docintel-cli, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: debconf (>= 0.2.17)
Section: contrib/web
Description: Threat Intelligence Platform - Web Application
  DocIntel is a threat intelligence platform.

