[Unit]
Description=DocIntel.WebApp
After=network.target

[Service]
Type=simple
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/webapp
ExecStart=/usr/bin/dotnet DocIntel.WebApp.dll
StandardOutput=journal
StandardError=journal
Restart=no

[Install]
WantedBy=multi-user.target

