@using DocIntel.Core.Authorization.Operations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Scraper

@{
    var canCreateSources = (await AuthorizationService.AuthorizeAsync(User, null, SourceOperations.Create)).Succeeded;
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control summernote"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="custom-control custom-switch">
        @Html.CheckBoxFor(_ => _.Enabled, new {@class = "custom-control-input"})
        <label class="custom-control-label" asp-for="Enabled">Enabled?</label>
    </div>
    @Html.HelpTextFor(_ => _.Enabled)
    <span asp-validation-for="Enabled" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="custom-control custom-switch">
        @Html.CheckBoxFor(_ => _.SkipInbox, new {@class = "custom-control-input"})
        <label class="custom-control-label" asp-for="SkipInbox">Skip Inbox?</label>
    </div>
    @Html.HelpTextFor(_ => _.SkipInbox)
    <span asp-validation-for="SkipInbox" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Position" class="control-label"></label>
    <input asp-for="Position" class="form-control"/>
    <span asp-validation-for="Position" class="text-danger"></span>
</div>