@model Classification

@{
    ViewData["Title"] = $" Delete Classification '{Model.Title}''";
}


<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-stamp subheader-icon"></i> Delete Classification '@Model.Title'
    </h1>
</div>

<form asp-action="Delete">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-9">
            <div id="panel-danger" class="panel">
                <div class="panel-hdr bg-danger-900 bg-info-gradient">
                    <h2>
                        Are you sure you want to delete the classification '@Model.Title'?
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <input type="hidden" asp-for="ClassificationId"/>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger" id="delete-confirmation-btn">Yes, delete!</button>
            <a asp-action="Details" asp-route-id="@Model.ClassificationId" class="ml-3 text-success">No, don't delete!</a>
        </div>
    </div>

</form>