@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Classification

@{
    ViewData["Title"] = $"Edit Classification '{Model.Title}'";
}


<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-stamp subheader-icon"></i> Edit Classification '@Model.Title'
    </h1>
</div>


<div class="row">
    <div class="col-12">

        @{
            var errors = ViewData.ModelState.SelectMany(x => x.Value.Errors);
        }
        @if (errors.Any())
        {
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.

                <ul class="mb-0 mt-1">
                    @foreach (var error in errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("_FormFields", Model, new ViewDataDictionary(ViewData))
            @await Html.PartialAsync("_MetaDataFields", Model, new ViewDataDictionary(ViewData))

            <button type="submit" id="save-btn" class= "btn btn-pills btn-success waves-effect waves-themed btn-iconified">
                <i class="fal fa-save"></i> Save
            </button>

        </form>


    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}