[Unit]
Description=DocIntel.RabbitMQDocumentAnalyzer
After=network.target

[Service]
Type=notify
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/document-analyzer/
ExecStart=/usr/bin/dotnet DocIntel.Services.DocumentAnalyzer.dll service
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

