@model DocIntel.WebApp.ViewModels.SourceViewModel.DetailViewModel

@if (!string.IsNullOrEmpty(Model.Source.Country))
{
    <div class="panel">
        <div class="panel-hdr">
            <h2>
                Source Origin
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div id="chartdiv" style="width: 100%;height:200px"></div>
            </div>
        </div>
    </div>   
}
