@model DocIntel.WebApp.ViewModels.SearchViewModel.SearchIndexViewModel

@if (Model.Registrants.Any())
{
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title fs-md collapsed" data-toggle="collapse" data-target="#collapseRegisteredBy" aria-expanded="false">
                Registered by
            </a>
        </div>
        <div id="collapseRegisteredBy" class="collapse" aria-labelledby="headingRegisteredBy" data-parent="#accordion_meta">
            <div class="card-body">
                @foreach (var item in Model.Registrants)
                {
                    <div class="mb-1 d-flex tag-selection" 
                         data-value-id="@item.Value.Id"
                         data-value-name="@item.Value.FriendlyName" 
                         data-default-filter-field="registered_by_id"
                         data-default-filter="registrant"
                         data-default-filter-name="Registered by">
                        <div class="mr-2" style="white-space: nowrap;">
                            <i class="fa fa-search-plus"></i>
                            <i class="fa fa-search-minus"></i>
                        </div>
                        <div class=flex-grow-1>
                            <span>
                                @item.Value.FriendlyName
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}