@using DocIntel.Core.Helpers
@model DocIntel.WebApp.ViewModels.SearchViewModel.SearchIndexViewModel

@if (Model.Sources.Any())
{
    <div class="card">
        <div class="card-header">
            <a href="javascript:void(0);" class="card-title fs-md collapsed" data-toggle="collapse" data-target="#collapseSources" aria-expanded="false">
                Source
            </a>
        </div>
        <div id="collapseSources" class="collapse" aria-labelledby="headingSources" data-parent="#accordion_meta">
            <div class="card-body">
                @foreach (var item in Model.Sources)
                {
                    <div class="mb-1 d-flex tag-selection" 
                         data-value-id="@item.Value.SourceId"
                         data-value-name="@item.Value.Title" 
                         data-default-filter-field="source_id"
                         data-default-filter="Source"
                         data-default-filter-name="Source">
                        <div class="mr-2" style="white-space: nowrap;">
                            <i class="fa fa-search-plus"></i>
                            <i class="fa fa-search-minus"></i>
                        </div>
                        <div class=flex-grow-1>
                            <span>
                                @item.Value.Title
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}