Source: docintel-email-notifier
Maintainer: Antoine Cailliau <antoine.cailliau@mil.be>
Standards-Version: 2.0.0
Section: contrib/admin
Build-Depends: debhelper (>= 12), dh-systemd (>=1.5)

Package: docintel-email-notifier
Architecture: amd64
Depends: docintel-core (>= 2.0.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: debconf (>= 0.2.17)
Section: contrib/admin
Priority: optional
Description: Threat Intelligence Platform - Email Notifier
	DocIntel is a threat intelligence platform.

