[Unit]
Description=DocIntel.EmailNotification
After=network.target

[Service]
Type=notify
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/email-notifier
ExecStart=/usr/bin/dotnet DocIntel.Services.Newsletters.dll
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

