[Unit]
Description=DocIntel.RabbitMQSourceIndexer
After=network.target

[Service]
Type=notify
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/source-indexer/
ExecStart=/usr/bin/dotnet DocIntel.Services.SourceIndexer.dll service
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

