@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppUser

@{
    ViewData["Title"] = "Add User";
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-user subheader-icon"></i> @ViewData["Title"]
        </h1>
    </div>


    <div class="row">
        <div class="col-12">

            @await Html.PartialAsync("_FormFields", Model, new ViewDataDictionary(ViewData))

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="save-btn" class= "btn btn-pills btn-success waves-effect waves-themed btn-iconified">
                        <i class="fal fa-plus"></i> Add
                    </button>
                    <a asp-action="Index" class="ml-3 text-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}