@model AppUser

@{
    ViewData["Title"] = $"Edit User '{Model.FriendlyName}'";
}

<form asp-action="Edit">
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal fa-user subheader-icon"></i> @ViewData["Title"]
        </h1>
    </div>

    <div class="row">
        <div class="col-12">

            @{
                var errors = ViewData.ModelState.SelectMany(x => x.Value.Errors);
            }
            @if (errors.Any())
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.

                    <ul class="mb-0 mt-1">
                        @foreach (var error in errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }

            <input asp-for="Id" type="hidden"/>
            
            @await Html.PartialAsync("_FormFields", Model, new ViewDataDictionary(ViewData))

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class= "btn btn-pills btn-success btn-iconified waves-effect waves-themed">
                        <i class="fal fa-save"></i> Save
                    </button>
                    <a asp-action="Index" class="ml-3 text-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>