@model DocIntel.WebApp.ViewModels.UserViewModel.ProfileViewModel

<div class="card mb-g">
    <div class="row row-grid no-gutters">
        <div class="col-12">
            <div class="p-3">
                <h2 class="mb-0 fs-xl">
                    Contacts
                </h2>
            </div>
        </div>
        <!--
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-b.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Oliver Kopyov</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-c.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Sesha Gray</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-a.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Preny Amdaney</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-e.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Dr. John Cook PhD</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-h.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Sarah McBrook</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-i.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Jimmy Fellan</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-j.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Arica Grace</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-k.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Jim Ketty</span>
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                <span class="profile-image rounded-circle d-block m-auto" style="background-image:url('img/demo/avatars/avatar-g.png'); background-size: cover;"></span>
                <span class="d-block text-truncate text-muted fs-xs mt-1">Ali Grey</span>
            </a>
        </div>
        -->
        <div class="col-12">
            <div class="p-3 text-center">
                <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
            </div>
        </div>
    </div>
</div>