@using DocIntel.WebApp.Helpers
@model Synsharp.Telepath.Messages.SynapseNode

<div id="panel-registration-info" class="panel">
    <div class="panel-hdr">
        <h2>
            Metadata
            <span class="fw-300">
                <i>Information</i>
            </span>
        </h2>
    </div>
    <div class="panel-container show">
        <div class="panel-content pb-2">
            <dl class="row mb-0">
            @foreach (var prop in Model.Props.Where(kv => kv.Key.StartsWith(".")))
            {
                <dt class="col-sm-6">
                    @prop.Key
                </dt>
                <dd class="col-sm-6">
                    @if (Model.Reprs != null && Model.Reprs.ContainsKey(prop.Key)) {
                        <text>@(Model.Reprs[prop.Key] ?? "")</text>
                    } else {
                        <text>@prop.Value</text>
                    }
                </dd>
            }
            </dl>
        </div>
    </div>
</div>