@using DocIntel.WebApp.Helpers
@model DocIntel.WebApp.Areas.Synapse.Views.Node.NodeDetailsViewModel

@{
    var coreValue = Model.Root.GetCoreValue();
    
    ViewBag.Title = $"[{Model.Root.GetType().ToDisplaySynsharp()}] {coreValue}";
    Layout = "_Layout";
}


<div class="subheader">
    <h1 class="subheader-title">
        <span class="badge badge-primary">@Model.Root.GetType().ToDisplaySynsharp()</span> @coreValue
    </h1>
</div>

<div class="row">
    <div class="col-9">
        @await Html.PartialAsync("_PanelDocumentList", Model, new ViewDataDictionary(ViewData))
    </div>
    <div class="col-3">
        @await Html.PartialAsync("_PanelMetadata", Model.Root, new ViewDataDictionary(ViewData))
    </div>
</div>