[Unit]
Description=DocIntel.Importer
After=network.target

[Service]
Type=notify
User=docintel
Group=docintel
WorkingDirectory=/usr/lib/docintel/importer/
ExecStart=/usr/bin/dotnet DocIntel.Services.Importer.dll service
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

