@model Comment

<div class="panel">
    <div class="panel-container show">
        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 bg-faded">
            <div class="form-group">
                <textarea rows="3" class="form-control rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border summernote" 
                    asp-for="Body" ></textarea>
            </div>
        </div>
    </div>
</div>