@using Microsoft.AspNetCore.Mvc.TagHelpers
<aside class="page-sidebar">
    <partial name="_Logo"/>
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <partial name="_NavFilter"/>
        <partial name="_NavInfoCard"/>
        <partial name="_PageNavigation" model="@ViewBag.NavigationModel"/>
        <partial name="_NavFilterMsg"/>
    </nav>
    <partial name="_NavFooter"/>
</aside>