<div class="position-absolute pos-bottom pos-left pos-right p-4 text-center fs-nano">
    Organizing Threat Intelligence since 2018 
    &middot; Template by&nbsp;<a href="https://www.gotbootstrap.com" class="" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
    &middot; Styling and logo by <a href="https://www.linkedin.com/in/layla-de-waegh-418269153/?originalSubdomain=be">Layla de Waegh</a>
</div>