@using Microsoft.AspNetCore.Mvc.TagHelpers
<header class="page-header" role="banner">
    <!-- we need this logo when user switches to nav-function-top -->
    <partial name="_Logo"/>

    <!-- DOC: nav menu layout change shortcut -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </a>
        <ul>
            <li>
                <a href="#" class= "btn btn-pills js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </a>
            </li>
            <li>
                <a href="#" class= "btn btn-pills js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- DOC: mobile button appears during mobile width -->
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>

    <div class="search">
        <form class="app-forms hidden-xs-down" role="search" asp-action="Index" asp-controller="Search" asp-area="" method="GET" autocomplete="off">
            <input type="text" id="search-field" placeholder="Search for anything" class="form-control" tabindex="1" name="SearchTerm" value=""/>
            <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
                <i class="fal fa-times"></i>
            </a>
        </form>
    </div>

    <div class="ml-auto d-flex">

        <!-- activate app search icon (mobile) -->
        <div class="hidden-sm-up">
            <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
                <i class="fal fa-search"></i>
            </a>
        </div>

        <!-- app settings
        <div class="hidden-md-down">
            <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-settings">
                <i class="fal fa-cog"></i>
            </a>
        </div>
        -->

        <!-- app shortcuts
        <div>
            <a href="#" class="header-icon" data-toggle="dropdown" title="My Apps">
                <i class="fal fa-cube"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-animated w-auto h-auto">
                <partial name="_DropdownApp" />
            </div>
        </div>
        -->

        <!-- app message
        <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-messenger">
            <i class="fal fa-globe"></i>
            <span class="badge badge-icon">!</span>
        </a>
        -->

        <!-- app notification -->
    @*
        <div>
            <a href="#" class="header-icon" data-toggle="dropdown" title="You got @ViewBag.NotificationsCount notifications">
                <i class="fal fa-bell"></i>
                @if (ViewBag.NotificationsCount > 0)
                {
                    <span class="badge badge-icon">@ViewBag.NotificationsCount</span>
                }
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                <partial name="_DropdownNotification"/>
            </div>
        </div>
        *@
        <!-- -->

        <!-- app user menu -->
        <div>
            <a href="#" data-toggle="dropdown" title="@ViewBag.CurrentUser.FriendlyName" class="header-icon d-flex align-items-center justify-content-center ml-2" id="dropdown-user">
                @if (string.IsNullOrEmpty(ViewBag.CurrentUser.ProfilePicture))
                {
                    <img alt="" class="profile-image rounded-circle" src="~/images/avatar-m.png"/>
                }
                else
                {
                    <img alt="" class="profile-image rounded-circle" src="@Url.Action("ProfilePicture", "Account", new {userName = ViewBag.CurrentUser.UserName})"/>
                }
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                <partial name="_DropdownMenu"/>
            </div>
        </div>
    </div>
</header>