<div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
    Organizing Threat Intelligence since 2018 &middot; Template by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
</div>