<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700">
            2018-2022 © DocIntel
        </span>
    </div>
    <div>
        <ul class="list-table m-0">
            <li><a href="http://www.docintel.org/" class="text-secondary fw-700">About</a></li>
            <li class="pl-3"><a href="http://www.docintel.org/license" class="text-secondary fw-700">License</a></li>
            <li class="pl-3"><a href="http://docs.docintel.org/" class="text-secondary fw-700">Documentation</a></li>
        </ul>
    </div>
</footer>